@media(max-width:375px){
body{
    display: grid;
    flex-direction: column-reverse;
    background: url(../images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    grid-template-areas: 'header'
    'illustration'
    'hero'
    'about'
    'footer';
}

.header{
   height: 150px;

}

.footer .icons{
    margin-top: 20px;
    margin-bottom: 50px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 80px;
    margin-bottom: 1px;
}

.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin-left: 50px;
    text-align: center;
}

section.about .btn-register{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 250px;
  margin-bottom: 20px;
}

.illustration{
    display: flex;
    margin: 30px;
    margin-left: 10px;
    justify-content: center;
    height: 240px;
    width: 335px;
}




















}